<footer>
  <% if (page.source !== 'index.md') { %>
  <span>See an error? <a href="https://github.com/sywac/sywac-website/tree/master/source/<%= page.source %>">Contribute to this docs site!</a></span>
  <% } %>
  <span>Made with ♡ by <a href="https://github.com/nexdrew">nexdrew</a></span>
</footer>
<script src="/js/sywac.js"></script>
<script>
  SywacDocs.init()
</script>
