<div class="nav-main">
  <div class="wrap">
    <a class="nav-home" href="/"><img class="nav-logo" src="/logo_purple.png" height="50"></a>
    <ul class="nav-site">
      <li><a href="/" class="<%= page.group === 'docs' ? 'active' : '' %>">Docs</a></li>
      <li><a href="/about.html" class="<%= page.group === 'about' ? 'active' : '' %>">About</a></li>
      <li><a href="https://github.com/sywac/sywac" class="">GitHub</a></li>
    </ul>
  </div>
</div>
