<div class="nav-docs">
  <div class="nav-docs-section">
    <h3>About</h3>
    <ul>
      <li><a style="margin-left:0;" class="<%= page.source === 'about/index.md' ? 'active' : '' %>" href="/about">What is Sywac?</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'about/features.md' ? 'active' : '' %>" href="/about/features.html">Features</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'about/comparison-matrix.md' ? 'active' : '' %>" href="/about/comparison-matrix.html">Comparison Matrix</a></li>
      <li><a style="margin-left:0;" class="<%= page.source === 'about/roadmap.md' ? 'active' : '' %>" href="/about/roadmap.html">Roadmap</a></li>
    </ul>
  </div>
</div>
